/* Center the form */
.containerAll_Task {
    display: flex;
    justify-content: center; /* Align the form to the center */
    margin-top: 20px;
  }
  
  .container__task__form_Task {
    width: 300px; /* Fixed width of the form */
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 50px; /* Add margin to the right of the form */
  }
  
  .container__title__form_Task {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .iconoName {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imgSaludo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .namePerson {
    font-size: 18px;
    color: #444;
  }
  
  .list__buttons__form_Task {
    margin-bottom: 20px;
  }
  
  .list__buttons__div_Task {
    display: flex;
    flex-direction: column;
  }
  
  .inputs__form_Task {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .description {
    height: 100px;
  }
  
  .label__fecha__finalizacion_Task {
    display: block;
    margin-bottom: 15px;
    color: #444;
  }
  
  .inputsform {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .Register_Button_Task {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .Register_Button_Task:hover {
    background-color: #45a049;
  }